@font-face
  font-family 'OpenSans-Bold'
  src url('../fonts/OpenSans-Bold.ttf')
  font-weight: bold;
  font-style: normal;

@font-face
    font-family 'proxima_nova_altblack'
    src url('../fonts/ProximaNovaAltBlack-webfont.eot')
    src url('../fonts/ProximaNovaAltBlack-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaAltBlack-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaAltBlack-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaAltBlack-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaAltBlack-webfont.svg#proxima_nova_altblack') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'proxima_nova_altbold'
    src url('../fonts/ProximaNovaAltBold-webfont.eot')
    src url('../fonts/ProximaNovaAltBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaAltBold-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaAltBold-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaAltBold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaAltBold-webfont.svg#proxima_nova_altbold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'Proxima Nova'
    src url('../fonts/ProximaNovaAltRegular-webfont.eot')
    src url('../fonts/ProximaNovaAltRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaAltRegular-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaAltRegular-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaAltRegular-webfont.svg#proxima_nova_altregular') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'proxima_nova_scosfthin'
    src url('../fonts/ProximaNovaScOsfThin-webfont.eot')
    src url('../fonts/ProximaNovaScOsfThin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaScOsfThin-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaScOsfThin-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaScOsfThin-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaScOsfThin-webfont.svg#proxima_nova_scosfthin') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'proxima_nova_ltsemibold'
    src url('../fonts/ProximaNovaSemibold-webfont.eot')
    src url('../fonts/ProximaNovaSemibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaSemibold-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaSemibold-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaSemibold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaSemibold-webfont.svg#proxima_nova_ltsemibold') format('svg')
    font-weight normal
    font-style normal

@font-face
    font-family 'proxima_nova_ltthin'
    src url('../fonts/ProximaNovaThin-webfont.eot')
    src url('../fonts/ProximaNovaThin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNovaThin-webfont.woff2') format('woff2'),
         url('../fonts/ProximaNovaThin-webfont.woff') format('woff'),
         url('../fonts/ProximaNovaThin-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNovaThin-webfont.svg#proxima_nova_ltthin') format('svg')
    font-weight normal
    font-style normal
