@import '_components/fonts.styl'
body
  padding 0
  margin 0
  font-family 'Proxima Nova'
.app_layout
  text-align center
  position relative
  margin 0 auto
  width:1240px
lost(gutter: 20px, cycle:none, flexbox: flex, clearing: left)
section.yearsXp
  lost-utility: clearfix;
section.yearsXp div
    lost-column: 1/3
    margin-right:0px !important
section.yearsXp div:nth-child(3n)
  float: left
