- var page= {}
- page.title = 'ACD Frontend Test'
- page.titleSeparation = ' - ' 

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, minimal-ui")
    link(type="text/css", rel="stylesheet", media="all", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(type="text/css", rel="stylesheet", media="all", href="css/view.min.css")
    block css
      //- CSS Block
    block title
      //- html.title Block
      title= page.title
      
  block body
    div#app.app_layout
      block contents
        //- contents
        
      block script
  //- Javascript Block
  script(type="text/javascript", src="scripts/app.js")
